# Admin UI env base template.
# Copy to ".env" and adjust values.

VITE_API_BASE_URL=https://localhost:3000
VITE_API_PROXY_TARGET=https://localhost:3000
VITE_API_SIGNATURE_DISABLED=false
VITE_API_SIGNATURE_SECRET=replace_with_same_value_as_backend_api_signature_secret
VITE_DEV_PORT=3002
VITE_DEV_HTTPS=true
